.note-form{
    width: 400px;
    background-color: #eecc8c;
    padding: 30px;
    position: absolute;
    top: 12%;
    right: 0;
   
    
}

.note-form >label{
    display: block;
    margin: 5px 0;
}

.note-form >input{
    background-color: #eecc8c ;
    border: 0.5px solid black;
    display:  block;
    height: 32px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1rem;

}

.content{
    display: block;
    height: 300px;
    width: 100%;
    font-size: 0.8rem;
}

textarea{
    resize: none;
    background-color: #eecc8c ;
    border: 0.5px solid black;

}
button{
    display: block;
    margin-top: 10px;
    background: var(--primary);
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
}

.options{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.cancel-btn{
    background-color: var(--error);
    
}