.create-question-form{
    background-color: var(--primary);
    padding: 20px;
}


.create-title-container{

}

.create-title-input{
    margin-bottom: 20px;
    border-radius: 0%;
}

.create-question-header{
    text-align: center;
    margin-top: 30px;
}

.create-question-section{

}

.create-question-label{
    display: block;
}

.create-question{
    background-color: white;
    resize: none;
    width: 100%;
    padding: 9px;
    overflow-y: scroll;
    border: 0;
}

.create-options-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    gap: 10px;
}

.create-option{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.create-option-label{

}

.create-option-input{
    
}

.create-answer-section{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.create-answer-selector{
    width: 60%;
}

.create-button-section{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    gap: 20px;
}

.reset-button{
    color: black;
    background-color: var(--primary-light);
}

.create-button{
    background-color: var(--primary-dark);
}