.home{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}

.cont{
background: #fff;
height: 400px;

}
.cont h3{
margin-top: 10px;
margin-left:10px;
}
.recent{
background: #fff;
height: 330px;
padding: 10px;
overflow-y: hidden !important;
}
.recent-box{
margin: 10px;
display: flex;
align-items: center;
justify-content: flex-start;
overflow-x:scroll !important;
gap:10px;
}
