.preview-container{
    background-color: var(--primary-light);
    padding: 20px;
    color: white;
    position: relative;
}

.title{
    text-align: center;
    margin-bottom: 40px;
    color: black;
}

.close-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px;
    color: white;
    background-color: var(--primary-dark);
}