.title{
    font-size: 2rem;
    font-weight: bolder;
    padding: 10px;
}

.tests-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
}

.test{
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;

}

.test-title{
    margin-left: 20px;
    font-size: 1.3rem;
}

.line{
    width: 80%;
    height: 2px;
    background-color: black;
    margin: 10px auto;
}