.edit-note-form{
        padding: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #eecc8c;
        width: 450px;
        height: 500px;
        z-index: 12;
        position: fixed;
        border: 1px solid black;
        display: flex;
        flex-direction:column;
}

