.edit-note-form{
    padding: 20px;
    /* top: 50%;
    left: 50%; */
    margin: 10% auto;
    background: #eecc8c;
    width: 450px;
    height: 500px;
    z-index: 12;
    position: relative;
    display: flex;
    flex-direction:column;
}

.edit-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 8;
}

.edit-title{
    height: 30px;
    border: 0.8px solid black;
    background: #eecc8c;
    margin: 7px 0;
    padding: 5px;
}

.edit-content{
    height: 300px;
    overflow-y: scroll;
    background: #eecc8c;
    border: 0.8px solid black;
    margin: 7px 0;
    padding: 5px;

}



