.preview-option{
    background-color: white;
    margin: 15px;
    border-radius: 10px;
    color: black;
    padding: 7px;
    padding-left: 15px;
}

.preview-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.edit-icon{
    cursor: pointer;
}

.option-input{
    padding-left: 10px;
}

.question-form{
    background-color: #ae445a;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    margin: 10px auto;
    
    
  }
  
  .question-section{
    display: flex;
    flex-direction: column;
  }
  .question-label{
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
    margin: 10px 0;
  }
  
  .title-container{
    display: flex;
    justify-content: center;
  }
  
  .question-header{
    text-align: center;
    font-size: 1.8rem;
    padding: 10px;
    color: white;
  }
  .question{
    background-color: white;
    margin-top: 10px;
    height: 70px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
  
  }
  
  .options-section{
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  
  
  }
  
  .option{
    display: flex;
    gap: 15px;
  }
  
  .option-input{
    border-radius: 10px;
    border: none;
    margin: 5px;
    width: 80%;
  }
  
  .title-input{
    margin: 15px;
    font-size: 2rem;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
    width: 50%;
    overflow-x: auto;
    
  }
  
  
  .button-section{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 5px;
  }
  
  .reset-button{
    background-color: #fbe4d8;
  }
  
  .answer-selector{
    padding: 10px;
    margin: 5px;
    width: 200px;
    overflow-x: hidden;
  }
  
  .answer-section{
    display: flex;
    gap: 20px;
  }
  
  