@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
  overflow-x: hidden;
  text-decoration: none;
}

.layout{
  display: flex;
}


.sidebar{
  background-color: #1aac83;
  height:100vh;
  width: 20%;
}

/* NAVBAR */


.links{
  margin: 30px auto 0;
  padding: 10px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.linkele{
  display: flex;
  gap: 10px;
}
.linkele a{
  color: #333;
  text-decoration: none;
}
.pages{
  width: 80%;
}





.learn{
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
}

.profile{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color:rgba(0,0,0,0.5);
}
.details{
  background: #fff;
  position: relative;
  height: 300px;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
}
.details div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.details span{
  position: absolute;
  top:5px;
  right: 10px;
}

form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

label, input {
  display: block;
}
input,select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}
.thumbnail-container{
  padding: 10px;
}

.thumbnail{
  height: 200px;
}
.video_list{
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  gap:10px;
}
.video-list-outer{
  background: #fff;
  height: 300px;
  width: 90vw;
  padding: 10px;
}
.teacher-control{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.allvids{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.learn a{
  text-decoration: none;
  color: #333;
}
.linkele.highlight{
  font-weight: bold;
}
ul{
  list-style-type: none;
}


.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.mynotes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1.5em;
 
}

.error{
  color: var(--error);
}

.video_list{
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}

.video{
  height: 600px;
  width: 1200px;
}

.video-view-page{
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
}

.createnote-btn{
  background-color: #eecc8c;
  margin-left: 20%;
  padding: 40px;
  font-size: 1.2rem;
}

.nav-link{
  margin: 10px
}

.question-form{
  background-color: #ae445a;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  margin: 10px auto;
  
  
}
.question-section{
  display: flex;
  flex-direction: column;
}
.question-label{
  font-size: 1.2rem;
  font-weight: 800;
  color: white;
  margin: 10px 0;
}

.title-container{
  display: flex;
  justify-content: center;
}

.question-header{
  text-align: center;
  font-size: 1.8rem;
  padding: 10px;
  color: white;
}
.question{
  background-color: white;
  margin-top: 10px;
  height: 70px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;

}

.options-section{
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;


}

.option{
  display: flex;
  gap: 15px;
}

.option-input{
  border-radius: 10px;
  border: none;
  margin: 5px;
  width: 80%;
}

.title-input{
  margin: 15px;
  font-size: 2rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 30px;
  width: 50%;
  overflow-x: auto;
  
}


.button-section{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 5px;
}

.reset-button{
  background-color: #fbe4d8;
}

.answer-selector{
  padding: 10px;
  margin: 5px;
  width: 200px;
  overflow-x: hidden;
}

.answer-section{
  display: flex;
  gap: 20px;
}

