
.note{
    background: #eecc8c;
    max-width: 270px;
    margin: 10px;
    padding: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    
}

.read-btn{
    width: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 8;
}

.modal-note{
    margin: 10% auto;
    padding: 20px;
    background: #eecc8c;
    width: 450px;
    height: 500px;
    z-index: 10;
    position: relative;
}

.modal-content{
    height: 370px;
    overflow-y: scroll;
    margin: 10px;
    font-size: 1.1rem;
}

.modal-title{
    margin: 20px;
    margin-left: 10px;
    overflow-x: hidden;
}
.icons{
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    display: flex;
    gap: 10px;
}